body {
     margin: 0;
     padding: 0;
     color: black;
     font-family: "Franklin Gothic Medium", Helvetica, Arial, sans-serif;
     background: #ffffff;
}
.body { 
    font-family: arial,helvetica,clean,sans-serif;
    font-size: 13px;
    
}

table.simple
{
    border: 1px solid #999;
}

table.simple tr:hover
{
    background-color: #e9ffe9;
}

table.simple td
{
    padding: 3px 10px;
}

#tips
{
    width: 141px;
}

#tips ol
{
    margin-left: 0px;
    padding-left: 18px;
}

#tips ol ol
{
    list-style-type: lower-alpha;
}

a {
  color: #32a81e;
  text-decoration: none;
}

h1,h2,h3,h4 {
    color: #333;
    padding: 0px 0 5px 0;
    border-bottom: 1px solid #aaa;
    font-weight: normal;
}

img { border: none; }

pre {
    padding: 10px 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    color: #272727;
    font-size: 80%;
}

strong {
    color: #505050;
    font-weight: normal;
}

/* Header */
#header {
    padding: 10px;
    height: 80px;
    background-color: #d0d0f0;
}

#header h1 {
    color: #333;
    font-weight: bold;
    padding: 10px;
    border: none;
}
#header h1 a {
    color: #333;
}

#header .blurb {
    vertical-align: bottom;
    text-align: right;
    padding-top: 25px;
    padding-right: 2em;
}

.header { width: 100%; }
.logo { vertical-align: top; }

/* Breadcrumbs */
#location {
    padding: 5px 15px;
    background-color: #444493;
    color: #eee;
}

#location a {
    color: #fff;
    text-decoration: underline;
}

#location .selected, #location strong {
          color: #49b237;
}

/* Column separator */
#container {
    position: relative;
}

/* Sidebar */
#sidebar {
     float: left;
     width: 121px;
     padding: 30px 20px;
     line-height: 1.5em;
}

#sidebar h1,h2,h3,h4 {
    border: none;
    padding: 0px;
}

#tipContainer
{
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 70px 15px;
    background-color: #e0e0ff;
    border: 1px solid #999;
    padding: 6px;
    z-index: 1;
    opacity: 0.9;
}

#sidebar, #sidebar a, #tipContainer a {
          color: #6a6a6a;
}

#sidebar a:hover {
         color: #000; text-decoration: underline;
}

#sidebar h1,h2,h3,h4 {
         margin: 0;
}



#sidebar li {
/*         list-style: none;*/
list-style-type: circle;

}

#sidebar li.selected a {
         color: #fff;
}

#sidebar ul {
    margin: 0 0 15px;
    padding: 0px;
    padding-left: 12px;
}

div.error {
    padding: 3px 6px;
    background-color: #f99;
    border: 4px solid #fff;
}

div.info {
    padding: 3px 6px;
    background-color: #9f9;
    border: 4px solid #fff;

}

/* Content */
#main {
    margin-top: 0px;
    margin-left: 131px;
    padding: 5px 32px 15px 32px;
    color: black;
    min-height:400px;
}

#main a {
      color: #217214;
}

#main .login {
      float: right;
      font-size: 80%;
}

/* Footer */
#footer {
    padding: 6px;
    font-size: 80%;
    text-align: center;
    background-color: #d0d0f0;
}

.cite { font-size: smaller; }
