@(session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash, cvs : List[(Long, String)], authenticated:Boolean)

@main(title="Add position", session=session, flash=flash, authenticated=authenticated) {
    <h1>Add position</h1>
    
    <h2>Details</h2>
    
    <script type="text/javascript">
        var geocoder;
        var map;
        var marker = null;
        $(document).ready( function()
        {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(54.559322587438636, -4.1748046875);
            var myOptions = {
              zoom: 5,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
          } );
          
        function validateCompanyName()
        {
            var companyName = $("#companyName").val();
            $.get("@action(controllers.Authenticated.validateCompany)", { name : companyName }, function(data)
            {
                var select = $("#companySelect");
                select.find('option').remove()
                
                for ( index in data )
                {
                    var line = data[index];
                    var name = line[0];
                    var url = line[1];
                    var id = line[2];
                    var description = line[3];
                    select.append($("<option></option").attr("value", id).attr("data-url", url).attr("data-description", description).text(name));
                }
                
                $("#companyDialog").dialog("open");
            } );
        }
          
        function codeAddress()
        {
            var address = $("#address").val();
            geocoder.geocode( { 'address': address}, function(results, status)
            {
                if (status == google.maps.GeocoderStatus.OK)
                {
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(10);
                    if ( marker != null )
                    {
                        marker.setMap(null);    
                    }
                    
                    marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    
                    $("#loc").val( results[0].geometry.location );
                    $("#placeholder").append( '<span id="addressLoaded"></span>' )
                }
                else
                {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            } );
        }
    </script>
    
    <span id="placeholder"></span>
    <table>
    <tr>
        <td><form action="@action(controllers.Authenticated.acceptPosition)" method="POST" id="positionForm">
            <input type="hidden" name="companyId" id="companyId"/>
            <input type="hidden" name="location" value="@flash.get("location")" id="loc"/>
            <table>
                <tr><td>Company name</td><td><input type="text" name="companyName" value="@flash.get("companyName")" id="companyName"/></td><td><input type="button" value="Lookup" name="lookupCompany" onclick="validateCompanyName()"></td></tr>
                <tr><td>Company url</td><td><input type="text" name="companyUrl" value="@flash.get("companyUrl")" id = "companyUrl"/></td><td></td></tr>
                <tr><td>Company description</td><td><input type="text" name="companyDescription" value="@flash.get("companyDescription")" id = "companyDescription"/></td><td></td></tr>

                <tr><td>Department</td><td><input type="text" name="department" value="@flash.get("department")"/></td><td/></tr>
                <tr><td>Job title</td><td><input type="text" name="jobTitle" value="@flash.get("jobTitle")"/></td><td/></tr>
                <tr><td>Years of experience relevant to this position</td><td>
                <select name="experience">
                    @for( y <- 0 until 20 ) {
                        <option value=@y>@y</option>
                    }
                </select>
                <tr><td>Start year</td><td><input type="text" name="startYear" value="@flash.get("startYear")"/></td><td/></tr>
                <tr><td>End year</td><td><input type="text" name="endYear" value="@flash.get("endYear")"/></td><td/></tr>
                <tr><td>Address</td><td><input type="text" name="address" value="@flash.get("address")" id="address"/></td><td><input type="button" value="Lookup" name="lookupAddress" onclick="codeAddress()"></td></tr>
                <tr><td>CV of position</td><td><select name="chosenCV">
                    @cvs.map { row => <option value="@row._1">"@row._2"</option> }
                </select></td><td/></tr>
            </table>
            
            <br/>
            <input type="submit" name="submit" value="Submit"/>
        </form></td>
        
        <td><div id="map_canvas" style="width:280px; height:380px"></div></td>
    </tr>
    </table>

    <div id="companyDialog" title="Company details" style="width: 100%">
        <form action="" method="POST">
            <select size="5" style="width: 100%" id="companySelect">
            </select>
        </form>
    </div>
    
    <script>
        $(document).ready( function()
        {
            $("#companyDialog").dialog( { autoOpen : false, modal : true,
                buttons :
                {
                    "Select" :
                    {
                        text : "Select",
                        id : "selectButton",
                        click : function()
                        {
                            var selected = $("#companySelect option:selected");
                            var name = selected.text()
                            var id = selected.attr('value');
                            var url = selected.attr('data-url');
                            var companyDescription = selected.attr('data-description');
                            $("#companyName").val( name );
                            $("#companyId").val( id );
                            $("#companyUrl").val( url );
                            $("#companyDescription").val( companyDescription )
                            $("#positionForm input").each( function() { $(this).attr('disabled', false); } );
                            $(this).dialog("close");
                        }
                    },
                    "None of these" :
                    {
                        text : "None of these",
                        id : "noneOfTheseButton",
                        click : function()
                        {
                            $("#positionForm input").each( function() { $(this).attr('disabled', false); } );
                            $(this).dialog("close");
                        }
                    }
                },
                close : function()
                {
                } } );
        } );
    </script> 

}
