@(session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash, cvs : List[String])

@main(title="Home", session=session, flash=flash) {
    <h1>Add position</h1>
    
    <h2>Details</h2>
    
    <script type="text/javascript">
        var geocoder;
        var map;
        var marker = null;
        $(document).ready( function()
        {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(54.559322587438636, -4.1748046875);
            var myOptions = {
              zoom: 5,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
          } );
          
        function codeAddress()
        {
            var address = document.getElementById("address").value;
            geocoder.geocode( { 'address': address}, function(results, status)
            {
                if (status == google.maps.GeocoderStatus.OK)
                {
                    map.setCenter(results[0].geometry.location);
                    map.setZoom(10);
                    if ( marker != null )
                    {
                        marker.setMap(null);    
                    }
                    
                    marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });
                    
                    $("#loc").val( results[0].geometry.location );
                }
                else
                {
                    alert("Geocode was not successful for the following reason: " + status);
                }
            } );
        }
    </script>
    
    <table>
    <tr>
        <td><form action="@action(controllers.Authenticated.addPosition)" method="POST">
            <table>
                
                <tr><td>Company url</td><td><input type="text" name="companyUrl"/></td><td><input type="button" value="Lookup" onclick="codeAddress()"></tr>
                <tr><td>Company name</td><td><input type="text" name="companyName"/></td><td/></tr>
                <tr><td>Department</td><td><input type="text" name="department"/></td><td/></tr>
                <tr><td>Job title</td><td><input type="text" name="jobTitle"/></td><td/></tr>
                <tr><td>Years of experience relevant to this position</td><td>
                <select>
                    @for( y <- 0 until 20 ) {
                        <option value=@y>@y</option>
                    }
                </select>
                <tr><td>Start year</td><td><input type="text" name="startYear"/></td><td/></tr>
                <tr><td>End year</td><td><input type="text" name="endYear"/></td><td/></tr>
                <tr><td>Address</td><td><input type="text" name="address" id="address"/></td><td><input type="button" value="Lookup" onclick="codeAddress()"></td></tr>
                <tr><td>Location</td><td><input type="text" name="location" id="loc"/></td></td></tr>
                <tr><td>CV of position</td><td><select>
                    @cvs.map { description => <option value=@description>@description</option> }
                </select></td><td/></tr>
            </table>
            
            <br/>
            <input type="submit" value="Submit"/>
        </form></td>
        
        <td><div id="map_canvas" style="width:280px; height:380px"></div></td>
    </tr>
    </table>
}
