@(session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash)

@main(title="Home", session=session, flash=flash) {
    <h1>Help</h1>
    
    <div class="selectable" id="boo1">
    <span class="selectable" id="boo2">
        Blah blah blah blah.
    </span><br/>
    
    <span class="selectable" id="boo3">
        Blah blah blah blah.
    </span><br/>
    
    <span class="selectable" id="boo4">
        Blah blah blah blah.
    </span><br/>
    </div>
    
    <script>enableSelectable()</script>
}
