@(session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash, matches : Map[(String, String, String), Seq[(String, String, String, String, String, String, Int, Double, Double)]])
        
@main(title="Home", session=session, flash=flash) {
    <h1>Home</h1>
    
    <h2>Search matches</h2>
    <br/>
    <table class="simple">
        <tr><th>Company name</th><th>Company description</th><th>Best similarity</th><th>Shortest distance</th><th>Number of matches</th><th>Actions</th></tr>
    
        @matches.map { (row) =>
            <tr>
                <td style="font-size: 130%; font-weight: bold"><a href="http://@row._1._2">@row._1._1</a></td>
                <td>@row._1._3</td>
                <td>@{"%.0f%%".format( row._2.map( r => r._8 ).max * 100 )}</td>
                <td>@{"%.0f".format( row._2.map( r => r._9 ).min )} miles</td>
                <td>@row._2.size</td>
                <td><a href="">Details</a></td>
            </tr>
            
            @row._2.map { (details) =>
                <tr>
                    <td style="font-style:italic">@details._1, @details._5, @details._6</td>
                    <td/>
                    <td style="font-style:italic">@{"%.0f%%".format(details._8 * 100)}</td>
                    <td style="font-style:italic">@{"%.0f".format(details._9)} miles</td>
                    <td/>
                    <td style="font-style:italic"><a href="">Details</a></td>
                </tr>
            }
        }
    </table>

}
