@(session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash, cvs : Seq[(Long, java.sql.Timestamp, String, Boolean, Boolean, Boolean)])

@main(title="Home", session=session, flash=flash) {
    <h1>Manage your existing CVs</h1>
    
    <table class="simple">
        <tr><th>Date added</th><th>Description</th><th>Pdf</th><th>Plain text</th><th>Analysis</th><th>Actions</th></tr>
    
        @cvs.map { (row) =>
            <tr>
                <td>@row._2</td>
                <td>@row._3</td>
                <td>@if(row._4) {
                    <a href="@action(controllers.Authenticated.cvPdf)?id=@row._1">Download</a>
                } else {
                    <span/>
                }
                </td>
                <td>@if(row._5) {
                    <a href="@action(controllers.Authenticated.cvText)?id=@row._1">View</a>
                } else {
                    <span/>
                }
                </td>
                <td>@if(row._6) {
                    <a href="@action(controllers.Authenticated.cvAnalysis)?id=@row._1">View</a>
                } else {
                    <span/>
                }
                </td>
                <td>
                    <a href="">edit</a> /
                    <a href="">delete</a>
                </td>
            </tr>
        }
    </table>
}
