@(session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash, cvs : Seq[(java.sql.Timestamp, String)])

@main(title="Home", session=session, flash=flash) {
    <h1>Manage your existing CVs</h1>
    
    <table>
        <tr><th>Date added</th><th>Description</th><th>Pdf</th><th>Plain text</th><th>Analysis</th></tr>
    
        @cvs.map { (row) =>
            <tr>
                <td>@row._1</td>
                <td>@row._2</td>
                <td>No pdf</td>
                <td>No plain text</td>
                <td>No analysis</td>
            </tr>
        }
    </table>
}
