@(session:play.mvc.Scope.Session)

@if( !session.contains("user") ) {
    <h3>Join in:</h3>
    <ul>
        <li><a href="@action(controllers.PublicSite.login)">login</a></li>
        <li><a href="@action(controllers.PublicSite.register)">register</a></li>
    </ul>
} else {
    <h3>User: @{session.get("user")}</h3>
    <ul>
        <li><a href="@action(controllers.Authenticated.home)">Home</a></li>
        <li><a href="@action(controllers.Authenticated.logout)">Logout</a></li>
    </ul>
    
    <h3>Actions</h3>
    <ul>
        <li><a href="@action(controllers.Authenticated.uploadCV)">Upload CV</a></li>
        <li><a href="@action(controllers.Authenticated.addPosition)">Add position</a></li>
        <li><a href="@action(controllers.Authenticated.addSearch)">Add search</a></li>
    </ul>
    <ul>
        <li><a href="@action(controllers.Authenticated.manageCVs)">Manage CVs</a></li>
        <li><a href="@action(controllers.Authenticated.managePositions)">Manage positions</a></li>
        <li><a href="@action(controllers.Authenticated.manageSearches)">Manage searches</a></li>
    </ul>
}

<h3>Find out more:</h3>
<ul>                    
    <li><a href="@action(controllers.PublicSite.about)">About us</a></li>
    <li><a href="@action(controllers.PublicSite.help)">Help</a></li>
    <li><a href="@action(controllers.PublicSite.contact)">Contact</a></li>
</ul>


