@(title:String="", session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash)(content: => Html)

@import views.Application.html

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@asset("public/images/favicon.png")">
        <script src="@asset("public/javascripts/jquery-1.5.2.min.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            <h1>Career matcher</h1>
        </div>
        
        <div id="location"> 
            Put &gt; some &gt; breadcrumbs &gt; here...
        </div> 
        
        <div id="container"> 
            <div id="sidebar" class="body">
                @views.Application.html.sidebar(session)
            </div>
            
            <div id="main">
            
                @if( flash.contains("error") ) {
                    <div class="error">
                        @{flash.get("error")}
                    </div>
                }
                
                @if( true ) {
                    <div class="info">
                        @{flash.get("info")}
                    </div>
                }
                
                <div id="content" class="body">
                    @content
                </div>                
            </div>
        </div>
        
        <div id="footer">
            Some footer stuff
        </div>
    </body>
</html>
