@(title:String="", session:play.mvc.Scope.Session, flash:play.mvc.Scope.Flash)(content: => Html)

@import views.Application.html

<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/main.css")"/>
        <link rel="stylesheet" media="screen" href="@asset("public/stylesheets/style.css")"/>
        <!--<style type="text/css">
          html { height: 100% }
          body { height: 100%; margin: 0px; padding: 0px }
          #map_canvas { height: 100% }
        </style>-->
        <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAwbscg5Y8nFV4PGCSOOZ2MRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxTrViKRcg6OJ2DkO6sjnZfb3qAduA"</script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script type="text/javascript" src="@asset("public/javascripts/jquery.js")"></script>
        <script type="text/javascript" src="@asset("public/javascripts/jquery_cookie.js")"></script>
        <script type="text/javascript" src="@asset("public/javascripts/script.js")"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    </head>
    <body>
        <div id="header">
            <h1><a href="@action(controllers.PublicSite.index)">WhatsOutThere.co.uk</a></h1>
        </div>
        
        <div id="location"> 
            Put &gt; some &gt; breadcrumbs &gt; here...
        </div>
        <div id="messages">
            @if( flash.contains("error") ) {
                <div class="error">
                    <strong>&gt;&gt; @{flash.get("error")}</strong>
                </div>
            }
            
            @if( flash.contains("info") ) {
                <div class="info">
                    <strong>&gt;&gt; @{flash.get("info")}</strong>
                </div>
            }
        </div>
        
        <div id="container"> 
            <div id="sidebar" class="body">
                @views.Application.html.sidebar(session)
            </div>
            
            <div id="main">
                <div id="content" class="body">
                    @content
                </div>
            </div>
            
            @views.Application.html.tips(session)
        </div>
        
        <div id="footer">
            Some footer stuff
        </div>
    </body>
</html>
